In [1]:
#*******************************************************************************************#

In [2]:
#******************************''''STRING_PRACTICE_PROBLEMS''''*****************************#

In [3]:
#*******************************************************************************************#

In [6]:
# 1. Write a program to reverse a string.

#Code:-

s = "ZAMIN ABBAS"

s[::-1]

'SABBA NIMAZ'

In [7]:
# 2. Check if a string is a palindrome.

#Code:-

s1 = "MAHAM"

#Storing reverse of string in another string
s2 = s1[::-1]

#Checking if the reverse of  string is same or not.
s1 == s2

True

In [8]:
# 3. Convert a string to uppercase.

#Code:-

s = "zamin"

s.upper()

'ZAMIN'

In [10]:
# 4. Convert a string to lowercase.

#Code:-

s = "ZAMIN"

s.lower()

'zamin'

In [12]:
# 5. Count the number of vowels in a string.

#Code:-

s = 'Discipline is the key to success'

No_Of_Vowels = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')

No_Of_Vowels

10

In [17]:
# 6. Count the number of consonants in a string.

#Code:-

s = 'Discipline is the key to success'

No_Of_Vowels = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')

No_Of_Spaces = s.count(' ')

No_Of_Consonants = (len(s) - No_Of_Vowels) - No_Of_Spaces

No_Of_Consonants

17

In [30]:
# 7. Remove all whitespaces from a string.

#Code:-

s = 'Discipline is the key to success'


s.replace(" ", "")

'Disciplineisthekeytosuccess'

In [67]:
# 8. Find the length of a string without using the `len()` function.

#Code:-

s = 'Discipline is the key to success'

length = 1 + s.rfind(s[-1])

length

32

In [144]:
# 9. Check if a string contains a specific word.

#Code:-

s = 'Discipline is the key to success'

word = 'key'

s.find(word) >= 0

True

In [55]:
# 10. Replace a word in a string with another word.

#Code:-

s = 'Name'

s.replace('N','G')

'Game'

In [57]:
# 11. Count the occurrences of a word in a string.

#Code:-

s = 'Discipline is the key to success'

s.count('i')

4

In [59]:
# 12. Find the first occurrence of a word in a string.

#Code:-

s = 'Discipline is the key to success'

s.find('s')

2

In [69]:
# 13. Find the last occurrence of a word in a string.

#Code:-

s = 'Discipline is the key to success'

s.rfind('e')

29

In [72]:
# 14. Split a string into a list of words.

#Code:-

s = 'Discipline is the key to success'

s.split()

['Discipline', 'is', 'the', 'key', 'to', 'success']

In [81]:
# 15. Join a list of words into a string.

#Code:-

l = ['Discipline', 'is', 'the', 'key', 'to', 'success']

s = " ".join(l)

s

'Discipline is the key to success'

In [83]:
# 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

#Code:-

s = 'Discipline is the key to success'

s.replace(' ', '_')

'Discipline_is_the_key_to_success'

In [162]:
# 17. Check if a string starts with a specific word or phrase.

#Code:-

s = 'Discipline is the key to success'

word  = 'Discipline'

l = s.split()

word == l[0]

True

In [161]:
# 18. Check if a string ends with a specific word or phrase.

#Code:-

s = 'Discipline is the key to success'

word = 'success'

l = s.split()

word==l[-1]

True

In [88]:
# 19. Convert a string to title case (e.g., "hello world" to "Hello World").

#Code:-

s = 'Discipline is the key to success'

s.title()

'Discipline Is The Key To Success'

In [106]:
# 20. Find the longest word in a string.

#Code:-

s = 'Discipline Elemtphaghaha is the key game success'

l = s.split()

max(l,key = len)

'Elemtphaghaha'

In [109]:
# 21. Find the shortest word in a string.

#Code:-

s = 'Discipline Elemtphaghaha is the key game success'

l = s.split()

min(l, key=len)

'is'

In [124]:
# 22. Reverse the order of words in a string.

s = 'Discipline is the key to success'

s1 = s[::-1]

l = s1.split()

l1 = l[::-1]

s = " ".join(l1)

s

'enilpicsiD si eht yek ot sseccus'

In [129]:
# 23. Check if a string is alphanumeric.

#Code:-

s = 'Discipline786 is the key to success110'

s.isalnum()

False

In [179]:
# 24. Extract all digits from a string.

#Code:-

s = 'Discipline786 is the key to success110'

digits = filter(str.isdigit, s)

list(digits)

['7', '8', '6', '1', '1', '0']

In [177]:
# 25. Extract all alphabets from a string.

#Code:-

s = 'Discipline786 is the key to success110'

alphabets = filter(str.isalpha, s)

s1 = "".join(alphabets)

s1

'Disciplineisthekeytosuccess'

In [174]:
# 26. Count the number of uppercase letters in a string.

# Code:-

s = 'Discipline786 is the key to success110'

upper = filter(str.isupper,s)

s1 = "".join(upper)

len(s1)

1

In [171]:
# 27. Count the number of lowercase letters in a string.

#Code:-

s = 'Discipline786 is the key to success110'

lower = filter(str.islower,s)

l = list(lower)

len(l)

26

In [134]:
# 28. Swap the case of each character in a string.

#Code:-

s = 'Discipline786 is the key to success110'

s.swapcase()

'dISCIPLINE786 IS THE KEY TO SUCCESS110'

In [147]:
# 29. Remove a specific word from a string.

#Code:-

s = 'Discipline786 is the key to success110'

word = 'is'

s.replace(word, "")

'Dcipline786  the key to success110'

In [23]:
# 30. Check if a string is a valid email address.

#Code:-

s = 'zaminabba!s084@gmail.com'

s1 = s.split('@')[1]

s1 = s1.split('.')[1]

s1 == 'com'

True

In [2]:
#  31. Extract the username from an email address string.

#Code:-

s = 'zaminabbas084@gmail.com'


s.split('@')[0]

'zaminabbas084'

In [6]:
# 32. Extract the domain name from an email address string.

#Code:-

s = 'zaminabbas084@gmail.com'

s1 = s.split('@')[1]

s1.split('.')[0]

'gmail'

In [25]:
# 33. Replace multiple spaces in a string with a single space.

#Code:-

s = 'Discipline     is   the  Key To        Success'

s1 = s.split()

s = ' '.join(s1)

s

'Discipline is the Key To Success'

In [78]:
# 34. Check if a string is a valid URL.

#Code:-

from urllib.parse import urlparse

url1 = "https://www.example.com"

result = urlparse(url1)

all(result.scheme) and all(result.netloc)

True

In [21]:
# 35. Extract the protocol (http or https) from a URL string.

#Code:-

s = 'https://fitvitality.com'


s.split(':')[0]

'https'

In [37]:
# 36. Find the frequency of each character in a string.

#Code:-

s = 'Discipline is the Key To Success'

l = str(set(s))

s.count(l[3])

0

In [8]:
# 37. Remove all punctuation from a string.

#Code:

import string

s = "*#$&ZAMIN(*8 "

translator = str.maketrans('','', string.punctuation)

cleaned_string = s.translate(translator)

cleaned_string

'ZAMIN8 '

In [41]:
# 38. Check if a string contains only digits.

#Code:-

s = "12334"

s.isdigit()

False

In [44]:
# 39. Check if a string contains only alphabets.

#Code:

s = "MyisZaminAbbasBaloch"


s.isalpha()

True

In [46]:
# 40. Convert a string to a list of characters.

#Code:

s = "MyisZaminAbbasBaloch"

list(s)

['M',
 'y',
 'i',
 's',
 'Z',
 'a',
 'm',
 'i',
 'n',
 'A',
 'b',
 'b',
 'a',
 's',
 'B',
 'a',
 'l',
 'o',
 'c',
 'h']

In [1]:
# 41. Check if two strings are anagrams.

#Code:


s1 = 'listen'

s2 = 'silent'

l1 = list(s1)

l2 = list(s2)

l1.sort()
l2.sort()

s1 = ''.join(l1)

s2 = ''.join(l2)

s1 == s2

True

In [8]:
# 42. Encode a string using a Caesar cipher.

#Code:-

s = "ZAMIN"

l = list(map(ord,s))

l = list(map(lambda x: x+3,l))

l = list(map(lambda x: chr(x),l))

s = ''.join(l)

s

']DPLQ'

In [12]:
# 43. Decode a Caesar cipher encoded string.

#Code:-

s = ']DPLQ'

l = list(map(ord,s))

l = list(map(lambda x: x-3,l))

l = list(map(lambda x: chr(x), l))

s = ''.join(l)

s

'ZAMIN'

In [10]:
# 44. Find the most frequent word in a string.

#Code:-

s = 'Discipline is the Key To Success'

max(s, key = len)

'D'

In [14]:
# 45. Find all unique words in a string.

#Code:-

s = 'Discipline is the Key To Success'

l = s.split()

l = set(l)

s = ' '.join(l)

s

'To Success is Discipline the Key'

In [82]:
# 46. Count the number of syllables in a string.

#Code:-

import re

result = re.findall(r'[aeiouAeiouyY]+', s, s.IGNORECASE)

ModuleNotFoundError: No module named 'syllables'

In [98]:
# 47. Check if a string contains any special characters.

#Code:-

s = 'Discipline@ is the Key To234 Success'

digit = filter(str.isdigit, s)

removeDigits = ''.join(list(digit))

s = s.replace(removeDigits,'')

alpha = filter(str.isalpha, s)

Alp = ''.join(list(alpha))

s.replace('Alp','')

'Discipline@ is the Key To Success'

In [101]:
# 48. Remove the nth word from a string.

#Code:-

s = 'Discipline is the Key To Success'

l = list(s)

l[4] = ''

s = ''.join(l)

s

'Discpline is the Key To Success'

In [92]:
# 49. Insert a word at the nth position in a string.

#Code:-

s = 'Discipline is the Key To Success'

l = list(s)

l.insert(3,'z')

s = ''.join(l)

s

'Diszcipline is the Key To Success'

In [40]:
# 50. Convert a CSV string to a list of lists.

#Code:-

s = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

l = list(map(list,s.split('\n')))

for i in range(0,len(l)):
    l[i] = [''.join(l[i])]
    
l

[['Name, Age, Country'],
 ['John, 25, USA'],
 ['Alice, 30, Canada'],
 ['Bob, 22, UK']]

In [9]:
#*****************************************************************************#
#***********************'''''LIST PRACTICE QUESTION'''''**********************#
#*****************************************************************************#

In [26]:
# 1. Create a list with integers from 1 to 10.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l

[1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [67]:
# 2. Find the length of a list without using the `len()` function.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l

[1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10]

In [70]:
# 3. Append an element to the end of a list.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.append(11)

l

[1, 2, 3, 4, 5, 6, 7, 10, 8, 9, 10, 11]

In [72]:
# 4. Insert an element at a specific index in a list.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.insert(3,5)

l

[1, 2, 3, 5, 4, 5, 6, 7, 10, 8, 9, 10]

In [74]:
# 5. Remove an element from a list by its value.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.remove(3)

l

[1, 2, 4, 5, 6, 7, 10, 8, 9, 10]

In [75]:
# 6. Remove an element from a list by its index.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.

In [8]:
# 7. Check if an element exists in a list.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.count(2) > 0

True

In [10]:
# 8. Find the index of the first occurrence of an element in a list.

#Code:-


l = [1,2,3,4,5,6,7,10,8,9,10]

l.index(10)

7

In [12]:
# 9. Count the occurrences of an element in a list.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.count(10)

2

In [38]:
# 10. Reverse the order of elements in a list.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.reverse()

In [3]:
# 11. Sort a list in ascending order.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.sort()

l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10]

In [5]:
# 12. Sort a list in descending order.

#Code:-

l = [1,2,3,4,5,6,7,10,8,9,10]

l.sort(reverse = True)

l

[10, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [43]:
# 13. Create a list of even numbers from 1 to 20.

#Code:-

l = list(filter(lambda x: x%2==0, range(1,21)))

l

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [44]:
# 14. Create a list of odd numbers from 1 to 20.

#Code:-

l = list(filter(lambda x: x%2, range(1,21)))

l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [49]:
# 15. Find the sum of all elements in a list.

#Code:-

from functools import reduce

l = [1,3,5,7,9,11,13,15,17,19]

sum = reduce(lambda a,b: a+b, l)

sum

100

In [62]:
# 16. Find the maximum value in a list.

#Code:-

l = [1,3,5,7,9,11,13,15,17,19]

max(l)

19

In [60]:
# 17. Find the minimum value in a list.

#Code:-

l = [1,3,5,7,9,11,13,15,17,19]

min(l)

1

In [50]:
# 18. Create a list of squares of numbers from 1 to 10.

#Code:-

l = list(map(lambda x: x*x, range(1,11)))

l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [53]:
# 19. Create a list of random numbers.

#Code:-

import random

l = random.sample(range(1,100),10)

l

[73, 89, 20, 95, 99, 47, 34, 69, 97, 3]

In [69]:
# 20. Remove duplicates from a list.

#Code:-

l = [1,4,5,0,6,7,33,4,3,54,5]

list(set(l))

[0, 1, 33, 3, 4, 5, 6, 7, 54]

In [12]:
# 21. Find the common elements between two lists.

l1 = [1,3,5,7,9,11,13,15,17,19]

l2 = [1,4,5,0,6,7,33,4,3,54,5]


set1 = set(l1)

set2 = set(l2)

list(set1.intersection(set2))

[1, 3, 5, 7]

In [14]:
# 22. Find the difference between two lists.

#Code:-

l1 = [1,3,5,7,9,11,13,15,17,19]

l2 = [1,4,5,0,6,7,33,4,3,54,5]

set1 = set(l1)

set2 = set(l2)

l1 = list(set1.difference(set2))

l2 = list(set2.difference(set1))

l1 + l2

[9, 11, 13, 15, 17, 19, 0, 33, 4, 6, 54]

In [11]:
# 23. Merge two lists.

#Code:-

l1 = [1,3,5,7,9,11,13,15,17,19]

l2 = [1,4,5,0,6,7,33,4,3,54,5]

l1 + l2

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 1, 4, 5, 0, 6, 7, 33, 4, 3, 54, 5]

In [54]:
# 24. Multiply all elements in a list by 2.

#Code:-

l = [1,3,5,7,9,11,13,15,17,19]

result = list(map(lambda x: x*2, l))

result

[2, 6, 10, 14, 18, 22, 26, 30, 34, 38]

In [18]:
# 25. Filter out all even numbers from a list.

#Code:-

numbers = [1,4,5,6,7,77,8,0,9]

filtered_numbers = filter(lambda x: x%2 == 0, numbers)

list(filtered_numbers)

[4, 6, 8, 0]

In [31]:
# 26. Convert a list of strings to a list of integers.

#Code:-

l = ['1','2','3','4','5','6','7','8','9','10']

s = list(map(int,l))

s

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
# 27. Convert a list of integers to a list of strings.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

s = list(map(str,l))

s

['1', '4', '5', '6', '7', '77', '8', '0', '9']

In [70]:
# 28. Flatten a nested list.

#Code:-

l = [1,2,3,4,[3,4,5,5]]

l2 = (str(l).replace('[','').replace(']','')).split(',')

l = list(map(int,l2))

l

[1, 2, 3, 4, 3, 4, 5, 5]

In [41]:
# 29. Create a list of the first 10 Fibonacci numbers.

#Code:-

l = [0,1,1,2,3,5,8,13,21,34]

l

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [77]:
# 30. Check if a list is sorted.

#Code:-

l1 = [0,1,1,2,3,5,8,13,21,34]

l2 = l1.sort()

l2 == l1

False

In [98]:
# 31. Rotate a list to the left by `n` positions.

#Code:-

n = 5

l = [0,1,1,2,3,5,8,13,21,34]

l1 = l[n::-1]

l1.extend(l[n+1::])

l = l1

l

[5, 3, 2, 1, 1, 0, 8, 13, 21, 34]

In [100]:
# 32. Rotate a list to the right by `n` positions.

n = 4

l = [0,1,1,2,3,5,8,13,21,34]

l1 = l[0:n+1]

l1.extend(l[:n:-1])

l = l1

l

[0, 1, 1, 2, 3, 34, 21, 13, 8, 5]

In [102]:
# 33. Create a list of prime numbers up to 50.

#Code:-

l = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 
31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 
73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 
127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 
179, 181, 191, 193, 197, 199, 211, 223, 227, 229]

l

[2,
 3,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 29,
 31,
 37,
 41,
 43,
 47,
 53,
 59,
 61,
 67,
 71,
 73,
 79,
 83,
 89,
 97,
 101,
 103,
 107,
 109,
 113,
 127,
 131,
 137,
 139,
 149,
 151,
 157,
 163,
 167,
 173,
 179,
 181,
 191,
 193,
 197,
 199,
 211,
 223,
 227,
 229]

In [106]:
# 34. Split a list into chunks of size `n`.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

l

[1, 4, 5, 6, 7, 77, 8, 0, 9]

In [117]:
# 35. Find the second largest number in a list.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

maxElement = max(l)

l1 = l

l1.remove(maxElement)

max(l1)

9

In [1]:
# 36. Replace every element in a list with its square.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

square_list = [x**2 for x in l]

square_list

[1, 16, 25, 36, 49, 5929, 64, 0, 81]

In [2]:
# 37. Convert a list to a dictionary where list elements become keys and their indices become values.

#Code:-

my_list = ["apple", "banana", "cherry", "date"]

[1, 4, 5, 6, 7, 77, 8, 0, 9]

In [8]:
# 38. Shuffle the elements of a list randomly.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

pairs = list(map(lambda x: (x[1], x[0]), enumerate(l)))


dic = dict(pairs)

dic

{1: 0, 4: 1, 5: 2, 6: 3, 7: 4, 77: 5, 8: 6, 0: 7, 9: 8}

In [13]:
# 39. Create a list of the first 10 factorial numbers.

#Code:-

import math

factorial_numbers = [math.factorial(i) for i in range(10)]

factorial_numbers

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [19]:
# 40. Check if two lists have at least one element in common.

#Code:-

l1 = [1,2,3,4,5,6,7,8,2,9,10]

l2 = [11,12,13,14,1,16,17,18,19,20]

set1 = set(l1)

set2 = set(l2)

l1 = list(set1.intersection(set2))

l2 = list(set2.intersection(set1))

len(l1 + l2) > 0

True

In [131]:
# 41. Remove all elements from a list.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

l.clear()

l

[]

In [11]:
# 42. Replace negative numbers in a list with 0.

#Code:-

l = [1,-4,-5,-6,-7,77,8,0,-9]

modified_list = [x if x>=0 else 0 for x in l]

modified_list

[1, 0, 0, 0, 0, 77, 8, 0, 0]

In [140]:
# 43. Convert a string into a list of words.

#Code:-

s = "ZAMIN ABBAS KHAN"

list(s)

['Z',
 'A',
 'M',
 'I',
 'N',
 ' ',
 'A',
 'B',
 'B',
 'A',
 'S',
 ' ',
 'K',
 'H',
 'A',
 'N']

In [143]:
# 44. Convert a list of words into a string.

l = ['Z','A','M','I','N',' ','A','B','B', 'A', 'S', ' ', 'K', 'H', 'A', 'N']

s = ''.join(l)

s

'ZAMIN ABBAS KHAN'

In [5]:
# 45. Create a list of the first `n` powers of 2.

#Code:-

n = 10

l = [2 ** i for i in range(n)]

l

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [149]:
# 46. Find the longest string in a list of strings.

#Code:-

l = ["ZAMIN","RAZA","ABBASss"]

max(l,key = len)

'ABBASss'

In [150]:
# 47. Find the shortest string in a list of strings.

#Code:-

l = ["ZAMIN","RAZA","ABBASss"]

min(l,key=len)

'RAZA'

In [8]:
# 48. Create a list of the first `n` triangular numbers.

#Code:-

n = 10

triangular_numbers = [i * (i+2) //2 for i in range(1,n+1)]

triangular_numbers

[1, 4, 7, 12, 17, 24, 31, 40, 49, 60]

In [4]:
# 49. Check if a list contains another list as a subsequence.

#Code:-

_list = [1,2,3,4,5,6]

_sublist = [2,4,6]

_set = set(_sublist)

_set.issubset(set(_list))

True

In [151]:
# 50. Swap two elements in a list by their indices.

#Code:-

l = [1,4,5,6,7,77,8,0,9]

num1 = l[2]

num2 = l[4]

l[2] = num2

l[4] = num1

l

[1, 4, 7, 6, 5, 77, 8, 0, 9]

In [153]:
#*******************************************************************************************#
#**********************''''TUPLE PRACTICE PROBLEMS''''****************************************#
#*******************************************************************************************#

In [2]:
# 1. Create a tuple with integers from 1 to 5.

#Code:-

t = tuple(range(5))
t

(0, 1, 2, 3, 4)

In [9]:
# 2. Access the third element of a tuple.

#Code:-

tuple = (1,2,3,4,5)

tuple[2]

3

In [9]:
# 3. Find the length of a tuple without using the `len()` function.

#Code:-

t = (1,2,3,4,5)

l = list(map(str,t))

s = ''.join(l)

length = s.rfind(s[-1]) + 1

length

5

In [37]:
# 4. Count the occurrences of an element in a tuple.

#Code:-

t = (1,2,3,1,4,5)

t.count(1)

2

In [39]:
# 5. Find the index of the first occurrence of an element in a tuple.

#Code:-

t = (1,2,3,1,4,5)

t.index(3)

2

In [45]:
# 6. Check if an element exists in a tuple.

#Code:-

t = (1,2,3,1,4,5)

3 in t

True

In [11]:
# 7. Convert a tuple to a list.

t = (1,2,3,1,4,5)

list(t)

[1, 2, 3, 1, 4, 5]

In [13]:
# 8. Convert a list to a tuple.

l = [1, 2, 3, 1, 4, 5]

tuple(l)

(1, 2, 3, 1, 4, 5)

In [23]:
# 9. Unpack the elements of a tuple into variables.

#Code:-

t = (1,2,3,1,4,5)

a,b,c,d,e,f = t

In [31]:
# 10. Create a tuple of even numbers from 1 to 10

#Code:-

my_tuple = tuple(filter(lambda x: x%2==0 , range(1,11)))

my_tuple

(2, 4, 6, 8, 10)

In [35]:
# 11. Create a tuple of odd numbers from 1 to 10.

#Code:-

my_tuple = tuple(filter(lambda x: not x%2==0, range(1,11)))

my_tuple

(1, 3, 5, 7, 9)

In [38]:
# 12. Concatenate two tuples.

#Code

t1 = (1, 3, 5, 7, 9)

t2 =  (2, 4, 6, 8, 10)


t1 + t2

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [40]:
# 13. Repeat a tuple three times.

#Code:-

t1 = (1, 3, 5, 7, 9)

t1 * 3

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [42]:
# 14. Check if a tuple is empty.

#Code:-

t = (1, 3, 5, 7, 9)

len(t) == 0

False

In [49]:
# 15. Create a nested tuple.

#Code:-

inner_tuple1 = (1,2,3,4,5)

inner_tuple2 = (6,7,8,9,10)


tuple3 = (inner_tuple1,inner_tuple2)

tuple3

((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

In [51]:
# 16. Access the first element of a nested tuple.

t = ((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

t[0]

(1, 2, 3, 4, 5)

In [54]:
# 17. Create a tuple with a single element.

#Code:-

t = tuple(range(0,1))

t

(0,)

In [57]:
# 18. Compare two tuples.

#Code:-

tuple1 = (1,2,3,4,5)

tuple2 = (6,7,8,9,10)


tuple1 == tuple2

False

In [72]:
# 19. Delete a tuple.

#Code:-

t = (6,7,8,9,10)

del t

In [77]:
# 20. Slice a tuple

#Code:-

t = (1,2,3,4,5,6,7,8,9,10)

t[1::2]

(2, 4, 6, 8, 10)

In [79]:
# 21. Find the maximum value in a tuple.

#Code:-

t = (1,2,3,4,5,6,7,8,9,10)

max(t)

10

In [81]:
# 22. Find the minimum value in a tuple

#Code:-

t = (1,2,3,4,5,6,7,8,9,10)

min(t)

1

In [84]:
# 23. Convert a string to a tuple of characters.

#Code:-

my_string = "Zamin Abbas"

tuple(my_string)

('Z', 'a', 'm', 'i', 'n', ' ', 'A', 'b', 'b', 'a', 's')

In [89]:
# 24. Convert a tuple of characters to a string.

#Code:-

t = ('Z', 'a', 'm', 'i', 'n', ' ', 'A', 'b', 'b', 'a', 's')

s = ''.join(t)

s

'Zamin Abbas'

In [92]:
# 25. Create a tuple from multiple data types.

#Code:-

my_string = "zamin"

my_list = [1,2,3,4,5]

my_set = {5,6,7,8,9}

my_dict = {"Name":"Zamin", "Age":20, "Degree":"Computer Science"}

my_tuple = (my_string, my_list, my_set, my_dict)

my_tuple

('zamin',
 [1, 2, 3, 4, 5],
 {5, 6, 7, 8, 9},
 {'Name': 'Zamin', 'Age': 20, 'Degree': 'Computer Science'})

In [95]:
# 26. Check if two tuples are identical.

#Code:- 

t1 = (1,2,3,4,5)

t2 = (1,2,3,4,5)

t1 == t2

True

In [112]:
# 27. Sort the elements of a tuple.

#Code:-

t = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

t = tuple(sorted(t))

t

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [115]:
# 28. Convert a tuple of integers to a tuple of strings.

#Code:-

t = (1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

t = tuple(map(str,t))

t

('1', '3', '5', '7', '9', '2', '4', '6', '8', '10')

In [118]:
# 29. Convert a tuple of strings to a tuple of integers.

#Code:-

t = ('1', '3', '5', '7', '9', '2', '4', '6', '8', '10')

t = tuple(map(int,t))

t

(1, 3, 5, 7, 9, 2, 4, 6, 8, 10)

In [120]:
# 30. Merge two tuples.

#Code:-

t1 = (1,2,3,4,5)

t2 = (6,7,8,9,10)

t1 + t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [126]:
# 31. Flatten a nested tuple.

#Code:-

nested_tuple = ((1, 2, 3, 4, 5), (6, 7, 8, 9, 10))

flat_tuple = eval(str(nested_tuple).replace('(','').replace(')',''))

flat_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [133]:
# 32. Create a tuple of the first 5 prime numbers.

#Code:-

_tuple = (2,3,5,7,11)

_tuple

(2, 3, 5, 7, 11)

In [140]:
# 33. Check if a tuple is a palindrome.

#Code:-

t = (1,2,3,2,1)

l = list(t)

l[::1] == l[::-1]

True

In [147]:
# 34. Create a tuple of squares of numbers from 1 to 5.

#Code:-

t = tuple(map(lambda x: x*2, range(1,6)))

t

(2, 4, 6, 8, 10)

In [150]:
# 35. Filter out all even numbers from a tuple.

#Code:-

t = (1,2,3,4,5,6,7,8,9,10)

tuple(filter(lambda x: x%2==0,t))

(2, 4, 6, 8, 10)

In [153]:
# 36. Multiply all elements in a tuple by 2.

#Code:-

t = (1,2,3,4,5,6,7,8,9,10)

t = tuple(map(lambda x: x*2,t))

t

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [252]:
# 37. Create a tuple of random numbers.

#Code:-

import random

t = tuple(random.sample(range(1,101),10))

t

(98, 43, 60, 84, 94, 7, 32, 88, 62, 6)

In [188]:
# 38. Check if a tuple is sorted.

t = (1,2,0,4,5,6,10,7,8,9,10)

l = list(t)

l.sort()

t == tuple(l)

False

In [193]:
# 39. Rotate a tuple to the left by `n` positions.

n = 5

t = (1,2,0,4,5,6,10,7,8,9,10)

l = list(t)

l1 = l[n::-1]

t = tuple(l1 + l[0:n])

t

(6, 5, 4, 0, 2, 1, 1, 2, 0, 4, 5)

In [212]:
# 40. Rotate a tuple to the right by `n` positions.

#Code:-

n = 5

t = (1,2,0,4,5,6,10,7,8,9,10)

l = list(t)

t = tuple(l[:n+1:1] + l[:-n-1:-1])
          
t

(1, 2, 0, 4, 5, 6, 10, 9, 8, 7, 10)

In [215]:
# 41. Create a tuple of the first 5 Fibonacci numbers.

#Code:-

t = (0,1,1,2,3)

t

(0, 1, 1, 2, 3)

In [220]:
# 42. Create a tuple from user input.

t = tuple(input())

t

 13 14 14

('1', '3', ' ', '1', '4', ' ', '1', '4', ' ')

In [231]:
# 43. Swap two elements in a tuple.

#Code:-

n1 = 1

n2 = 4

t = (0,1,1,2,3)


l = list(t)

temp = l[n1]

l[n1] = l[n2]

l[n2] = temp

t = tuple(l)

t

(0, 3, 1, 2, 1)

In [235]:
# 44. Reverse the elements of a tuple.

#Code:-

t = (0,1,1,2,3)

l = list(t)

l.reverse()

In [241]:
# 45. Create a tuple of the first `n` powers of 2.

#Code:-

n = 10

t = tuple(map(lambda x:x * x, range(1,n+1)))

t

(1, 4, 9, 16, 25, 36, 49, 64, 81, 100)

In [244]:
# 46. Find the longest string in a tuple of strings.

#Code:-

t = ("Zamin","Abbasss","Raza","Khan","Ali")

max(t, key = len)

'Abbasss'

In [245]:
# 47. Find the shortest string in a tuple of strings.

#Code:-

t = ("Zamin","Abbasss","Raza","Khan","Ali")

min(t, key = len)

'Ali'

In [247]:
# 48. Create a tuple of the first `n` triangular numbers.

#Code:-

t = tuple(map(lambda x: (x * (x + 1)) /2, range(1,11)))

t

(1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0)

In [272]:
# 49. Check if a tuple contains another tuple as a subsequence.

#Code:-

t = (1,2,(3,2),4,5,1,2)

l = list(t)

str(l).find(')') > 0

True

In [278]:
# 50. Create a tuple of alternating 1s and 0s of length `n`.

#Code:-

n = 10

t = tuple(map(lambda x: int(x%2 == 0), range(1,n+1)))

t

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [276]:
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^#
#************************************* SET PRACTICE PROBLEMS **********************************************#
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^#

In [2]:
# 1. Create a set with integers from 1 to 5.

#Code:-

s  = set(range(1,6))

s

{1, 2, 3, 4, 5}

In [11]:
# 2. Add an element to a set.

#Code:-

s = {1, 2, 3, 4, 5}

s.add(10)

s

{1, 2, 3, 4, 5, 10}

In [16]:
# 3. Remove an element from a set.

#Code:-

s = {1, 2, 3, 4, 5}

s.remove(1)

s

{2, 3, 4, 5}

In [22]:
# 4. Check if an element exists in a set.

#Code:-

s = {1, 2, 3, 4, 5, 10}

list(s).count(1) > 0

True

In [34]:
# 5. Find the length of a set without using the `len()` function.

#Code:-

s = {1, 2, 3, 4, 5, 10}

l = list(map(str,s))

my_string = ''.join(l)

my_string.rfind(l[-1]) + 1

6

In [37]:
# 6. Clear all elements from a set.

#Code:-

s = {1, 2, 3, 4, 5, 10}

s.clear()

In [39]:
# 7. Create a set of even numbers from 1 to 10.

#Code:-

s = set(filter(lambda x: x % 2==0, range(1,11)))

s

{2, 4, 6, 8, 10}

In [41]:
# 8. Create a set of odd numbers from 1 to 10.

#Code:-

s = set(filter(lambda x: not x % 2==0, range(1,11)))

s

{1, 3, 5, 7, 9}

In [44]:
# 9. Find the union of two sets.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1, 3, 5, 7, 9}

s1.union(s2)

{1, 2, 3, 4, 5, 7, 9, 10}

In [46]:
# 10. Find the intersection of two sets.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1, 3, 5, 7, 9}

s1.intersection(s2)

{1, 3, 5}

In [51]:
# 11. Find the difference between two sets

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1, 3, 5, 7, 9}

set(list(s1.difference(s2))  + list(s2.difference(s1)))

{2, 4, 7, 9, 10}

In [53]:
# 12. Check if a set is a subset of another set.

#Code:-

s = {1, 2, 3, 4, 5, 10}

s1 = {1,2,3}


s1.issubset(s)

True

In [2]:
# 13. Check if a set is a superset of another set.

#Code:-

s = {1, 2, 3, 4, 5, 10}

s1 = {1,2,3}

s.issuperset(s1)

True

In [5]:
# 14. Create a set from a list.

#Code:-

l = [1,2,3,4,4,5,6,7,77]

my_set = set(l)

my_set

{1, 2, 3, 4, 5, 6, 7, 77}

In [7]:
# 15. Convert a set to a list.

#Code:-

my_set = {1, 2, 3, 4, 5, 6, 7, 77}

list(my_set)

[1, 2, 3, 4, 5, 6, 7, 77]

In [14]:
# 16. Remove a random element from a set.

#Code:-

my_set = {1, 2, 3, 4, 5, 6, 7, 77}

my_set.remove(4)

my_set

{1, 2, 3, 5, 6, 7, 77}

In [15]:
# 17. Pop an element from a set.

#Code:-

my_set = {2, 3, 4, 5, 6, 7, 77}

my_set.pop()

2

In [18]:
# 18. Check if two sets have no elements in common.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1,2,3}


len(s1.intersection(s2)) > 0

True

In [21]:
# 19. Find the symmetric difference between two sets.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1,2,3,6,7,8,9,22}

s1.symmetric_difference(s2)

{4, 5, 6, 7, 8, 9, 10, 22}

In [25]:
# 20. Update a set with elements from another set.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1,2,3,6,7,8,9,22}

s1.update(s2)

s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 22}

In [47]:
# 21. Create a set of the first 5 prime numbers.

#Code:-

import sympy

prime_numbers = list(sympy.primerange(2,15))[:5]

s = set(prime_numbers)

s

{2, 3, 5, 7, 11}

In [36]:
# 22. Check if two sets are identical.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {1,2,3,4,5,10,11}

s1 == s2

False

In [50]:
# 23. Create a frozen set.

#Code:-

s = {1, 2, 3, 4, 5, 10}

frozenset(s)

frozenset({1, 2, 3, 4, 5, 10})

In [54]:
# 24. Check if a set is disjoint with another set.

#Code:-

s1 = {1, 2, 3, 4, 5, 10}

s2 = {11,12,14,15,8}

s1.isdisjoint(s2)

True

In [56]:
# 25. Create a set of squares of numbers from 1 to 5.

#Code:-

s = set(map(lambda x: x*x, range(1,6)))

s

{1, 4, 9, 16, 25}

In [60]:
# 26. Filter out all even numbers from a set.

#Code:-

s1 = {1,2,3,4,5,6,7,8,9,10}

s2 = set(filter(lambda x: x%2 == 0, s1))

s2

{2, 4, 6, 8, 10}

In [62]:
# 27. Multiply all elements in a set by 2.

#Code:-

s1 = {1,2,3,4,5,6,7,8,9,10}

s2 = set(map(lambda x: x*2, s1))

s2

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [64]:
# 28. Create a set of random numbers.

#Code:-

import random

s = set(random.sample(range(1,100),10))

s

{11, 12, 27, 29, 65, 69, 78, 86, 94, 96}

In [66]:
# 29. Check if a set is empty.

s = {1,2,3,4,5,6,7,8,9,10}

len(s) == 0

False

In [71]:
# 30. Create a nested set (hint: use frozenset).

#Code:-

frozen_set = frozenset({1,32,4,5,5,})

my_set = {1,2,3,4,frozen_set,10,12}

my_set

{1, 10, 12, 2, 3, 4, frozenset({1, 4, 5, 32})}

In [76]:
# 31. Remove an element from a set using the discard method.

#Code:-

s = {1,2,3,4,5,6,7,8,9,10}

a = s.discard(2)

a

In [80]:
# 32. Compare two sets.

#Code:-

s1 = {1,2,3,4,5,6,7,8,9,10}

s2 = {11,12,13,14,15}

s1 == s2

False

In [82]:
# 33. Create a set from a string.

#Code:-

s = "Zamin"

set(s)

{'Z', 'a', 'i', 'm', 'n'}

In [89]:
# 34. Convert a set of strings to a set of integers.

#Code:-

s = {'1', '2', '3', '4', '5'}

set(map(int, s))

{1, 2, 3, 4, 5}

In [90]:
# 35. Convert a set of integers to a set of strings.

s = {1, 2, 3, 4, 5}

set(map(str,s))

{'1', '2', '3', '4', '5'}

In [92]:
# 36. Create a set from a tuple.

#Code:-

t = (1,2,3,4,5)

set(t)

{1, 2, 3, 4, 5}

In [94]:
# 37. Convert a set to a tuple.

#Code:-

s = {1, 2, 3, 4, 5}

tuple(s)

(1, 2, 3, 4, 5)

In [96]:
# 38. Find the maximum value in a set.

#Code:-

s = {1, 2, 3, 4, 5}

max(s)

5

In [98]:
# 39. Find the minimum value in a set.

#Code:-

s = {1, 2, 3, 4, 5}

min(s)

1

In [109]:
# 40. Create a set from user input.

#Code:

user_input = input("Enter a value")

my_set = set(user_input)

my_set.pop()

my_set = set(map(int, my_set))

my_set

Enter a value  1 2 3 14 4 1

{1, 2, 3, 4}

In [111]:
# 41. Check if the intersection of two sets is empty.

s1 = {1,2,3,4,5}

s2 = {2,4,5}

len(s1.intersection(s2)) == 0

False

In [112]:
# 42. Create a set of the first 5 Fibonacci numbers.

#Code:-

In [114]:
# 43. Remove duplicates from a list using sets.

#Code:-

l = [1,2,2,2,3,3,3,4,5,5,5,]

set(l)

{1, 2, 3, 4, 5}

In [115]:
# 44. Check if two sets have the same elements, regardless of their count.

#Code:-

In [117]:
# 45. Create a set of the first `n` powers of 2.

#Code:-

n = 10

s = set(map(lambda x: x*2, range(1,n+1)))

s

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [122]:
# 46. Find the common elements between a set and a list.

#Code:-

l = [2,4,5,6,7,8]

s = {1,2,3,4,5}

s.intersection(set(l))

{2, 4, 5}

In [126]:
# 47. Create a set of the first `n` triangular numbers.

#Code:-

s = set(map(lambda x: (x*(x+1))/2, range(1,11)))

s

{1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0}

In [127]:
# 48. Check if a set contains another set as a subset.

#Code:-

s = {1,2,3,4,5,6,7}

s1 = {1,2,3}

s1.issubset(s)

True

In [131]:
# 49. Create a set of alternating 1s and 0s of length `n.

#Code:-

n = 10

l = list(map(lambda x: x%2, range(1,11)))

set(l)

{0, 1}

In [147]:
# 50. Merge multiple sets into one.

#Code:-

s = {1,2,3,4,5,6,7}

s1 = {11,22,33}

s.update(s1)

s

{1, 2, 3, 4, 5, 6, 7, 11, 22, 33}